.button {
	@apply py-3 px-5 rounded-lg bg-gradient-to-t from-yellow-700 to-yellow-300 text-[#d06e14] font-bold text-lg transition-all duration-300 ease-in-out;
  box-shadow: 2px 4px 0 #292813;
  &:hover{
    @apply py-4 px-6;
    box-shadow: 6px 6px #fde047;
  }
	&.secondary {
		@apply from-brown-700 to-brown-300 text-[#efa145];
    box-shadow: 6px 6px #544526;
     &:hover{
    @apply py-4 px-6;
    box-shadow: 6px 6px #fde047;
  }
	}
}
